
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <link rel="stylesheet" type="text/css" href="~/CSS/bootstrap.css" />
    <meta name="viewport" content="width=device-width" />
    <title>DejaVoter</title>
</head>
<body>
    <div class="jumbotron">
        <h1>Vous avez déjà voté pour ce sondage.</h1>
    </div>
</body>
</html>
