
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <link rel="stylesheet" type="text/css" href="~/CSS/bootstrap.css" />
    <link rel="stylesheet" type="text/css" href="~/CSS/SondageGolde.css" />
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>

<body id="CorpDepage1">
    <header>

        <img src="~/Images/CaptureLOGO.PNG" height="100" />

    </header>

    <aside>



        <video autoplay muted loop id="myVideo">
            <source src="~/Images/Traveling%20Speed%20of%20Light%20Backwards%20-%20Free%20HD%20Animation.mp4" type="video/mp4" />
        </video>
        <div class="Introduction" id="trans">
            <h1> Bienvenue sur le Site SondageGold Le meilleur site de sondage en ligne</h1>
            <div class="CreerSondage">
                <a role="button" class="btn btn-primary" href="@Url.Action("Sondage")">Créer un sondage</a>

            </div>
        </div>



    </aside>

    <footer>Copyright © 2018 sondagegold.com All rights reserved</footer>
    <script src="~/JavaScript/SondageGoldJavaScript.js"></script>
    <script src="~/JavaScript/bootstrap.bundle.min.js"></script>
    <script src="~/JavaScript/jquery.js"></script>
</body>

</html>
