
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <link rel="stylesheet" type="text/css" href="~/CSS/bootstrap.css" />
    <link rel="stylesheet" type="text/css" href="~/CSS/bootstrap-reboot.min.css" />
    <link rel="stylesheet" type="text/css" href="~/CSS/bootstrap-reboot.css.map" />
    <link rel="stylesheet" type="text/css" href="~/CSS/SondageGoldeCss.css" />
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div id="CorpDepage">
        <div></div>
        <h1 class="titre1"> SONDAGEGOLD <img src="~/Images/Logo.PNG"> </h1>
        <h2 class="titre2">
            BIENVENUE SUR LE MEILLEUR SITE DE SONDAGE EN LIGNE
        </h2>
        <div class="boutons">

            <a type="button" href="http://localhost:50700/Home/Sondange" class="btn btn-dark">
                CRÉER UN SONDAGE
            </a>
            <a type="button" href="http://localhost:50700/Home/Vote" class="btn btn-dark">
                VOTEZ
            </a>
            <a type="button" href="http://localhost:50700/Home/Resultat" class="btn btn-dark">
                RESULTAT DES VOTES
            </a>
        </div>
        <div class="PiedDePage">
            
                Copyright © 2018 sondagegold.com All rights reserved.
           
        </div>
    </div>
    <script src="~/JavaScript/bootstrap.min.js"></script>
    <script src="~/JavaScript/bootstrap.bundle.min.js"></script>
    <script src="~/JavaScript/bootstrap.bundle.min.js"></script>
</body>

</html>
