
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <link rel="stylesheet" type="text/css" href="~/CSS/bootstrap.css" />
    <link rel="stylesheet" type="text/css" href="~/CSS/bootstrap-reboot.min.css" />
    <link rel="stylesheet" type="text/css" href="~/CSS/bootstrap-reboot.css.map" />
    <link rel="stylesheet" type="text/css" href="~/CSS/SondageGoldeCss.css" />
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>

<body id="CorpDepage">
    <header></header>

    <aside>
        <div class="logo"> <img  src="~/Images/Capture.PNG" /></div>
        <p id="texteIntroduction">Cum saepe multa, tum memini domi in hemicyclio sedentem, ut solebat, cum et ego essem una et pauci admodum familiares, in eum sermonem illum incidere qui tum forte multis erat in ore. Meministi enim profecto, Attice, et eo magis, quod P. Sulpicio utebare multum, cum is tribunus plebis capitali odio a Q. Pompeio, qui tum erat consul, dissideret, quocum coniunctissime et amantissime vixerat, quanta esset hominum vel admiratio vel querella. </p>
        <div class="BoutonMenu1">
            <a role="button" class="BoutonMenu" href="@Url.Action("Sondage")">Créer un sondage</a>
            <a role="button" class="BoutonMenu" href="@Url.Action("Resultat")">Voter</a>
            <a role="button" class="BoutonMenu" href="@Url.Action("Vote")">Consulter le Resultat</a>
            <a role="button" class="BoutonMenu" href="@Url.Action("Suppression")">Supprimer un sondage</a>
           
        </div>


    </aside>

    <footer>Copyright © 2018 sondagegold.com All rights reserved</footer>
    <script src="~/JavaScript/bootstrap.bundle.min.js"></script>
    <script src="~/JavaScript/bootstrap.bundle.min.js"></script>
</body>

</html>
