@model SONDAGEGOLD.Models.ClasseSondage
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <link rel="stylesheet" type="text/css" href="~/CSS/bootstrap.css" />
    <link rel="stylesheet" type="text/css" href="~/CSS/bootstrap-reboot.min.css" />
    <link rel="stylesheet" type="text/css" href="~/CSS/bootstrap-reboot.css.map" />
    <link rel="stylesheet" type="text/css" href="~/CSS/SondageGoldeCss.css" />
    <meta name="viewport" content="width=device-width" />
    <title>Vote</title>
</head>

<body id="CorpDepage">
    <header>
        <!-- en tête de page -->

        <nav class="navbar">

        </nav> <!-- menu -->
    </header>


    <aside>
        <div class="formulaire">
            <form class="form" action="@Url.Action("Index")">
                <p class="Explication">
                    Votre sondage a bien été enregistré, les liens ci-dessous vous permettrons de gérer votre sondage.
                    Le lien de vote permettra aux participants que vous avez choisis de voter et si vous leur transmettez le lien de résultat, ils pourront consulter les résultats du vote.
                    Il est important de garder précieusement le lien de suppression, car il permet de désactiver le sondage bien qu’une consultation des résultats restera toujours possible.
                </p>

                    <div class="mm4">
                        <label for="Rep4">Lien de vote:</label>
                        <input name="Rep4" class="Reponse" type="text" value="@Url.Content(Model.LiendeVote())" placeholder="Entrez votre Réponse">
                    </div>
                    <div class="mm4">
                        <label for="Rep4">Lien de Résultat:</label>
                        <input name="Rep4" class="Reponse" type="text" value="@Model.LienDeResultat()" placeholder="Entrez votre Réponse">
                    </div>
                    <div class="mm4">
                        <label for="Rep4">Lien de Supression:</label>
                        <input name="Rep4" class="Reponse" type="text" value="@Model.LienDeSupression()" placeholder="Entrez votre Réponse">
                    </div>
                    <div class="boutonformulaire">
                        <input class="valider btn btn-primary" type="submit" value="OK" />
                    </div>
                

            </form>



        </div>


    </aside>

    <footer>Copyright © 2018 sondagegold.com All rights reserved</footer>
    <script src="~/JavaScript/bootstrap.bundle.min.js"></script>
    <script src="~/JavaScript/bootstrap.bundle.min.js"></script>
    <script src="~/JavaScript/jquery.js"></script>
</body>

</html>
