
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>VoteDesactiver</title>
</head>
<body>
    <div class="jumbotron">
        <h1>Ce sondage n'est plus activé</h1>
      
        <form class="form" action="@Url.Action("Resultat")"></form>
    </div>
</body>
</html>
