
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <link rel="stylesheet" type="text/css" href="~/CSS/bootstrap.css" />
    <meta name="viewport" content="width=device-width" />
    <title>VoteDesactiver</title>
</head>
<body>
    <div class="jumbotron">
        <h1>Ce sondage n'est plus activé</h1>
        
        <a role="button" class="btn btn-primary" href="@Url.Action("Index")">Homme</a>
    </div>
</body>
</html>
