USE [master]
GO
/****** Object:  Database [SONDAGEGOLD]    Script Date: 25/04/2019 09:03:44 ******/
CREATE DATABASE [SONDAGEGOLD]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'SONDAGEGOLD', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\SONDAGEGOLD.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'SONDAGEGOLD_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\SONDAGEGOLD_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [SONDAGEGOLD].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [SONDAGEGOLD]
GO
/****** Object:  Table [dbo].[Reponse]    Script Date: 25/04/2019 09:03:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Reponse](
	[IDReponse] [int] IDENTITY(1,1) NOT NULL,
	[FKIDSondage] [int] NOT NULL,
	[Reponses] [nchar](500) NOT NULL,
	[NombreDeVote] [int] NULL,
 CONSTRAINT [PK_Reponse] PRIMARY KEY CLUSTERED 
(
	[IDReponse] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Sondage]    Script Date: 25/04/2019 09:03:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Sondage](
	[IDSondage] [int] IDENTITY(1,1) NOT NULL,
	[Question] [nchar](500) NOT NULL,
	[ChoixMultiple] [bit] NOT NULL,
	[ClefDeSupression] [varchar](1000) NULL,
	[NombreDeVotants] [int] NULL,
	[EtatDuSondage] [bit] NULL,
 CONSTRAINT [PK_Sondage] PRIMARY KEY CLUSTERED 
(
	[IDSondage] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Reponse] ON 

GO
SET IDENTITY_INSERT [dbo].[Reponse] OFF
SET IDENTITY_INSERT [dbo].[Sondage] ON 

SET IDENTITY_INSERT [dbo].[Sondage] OFF
USE [master]
GO
